* {
    background-color: turquoise;
}
#Div1 {
    text-align: center;
    font-size: 25px;
}
img, ul{
    position: relative;
    left: 50px;
    padding: 20px;
    display: flex;
    list-style: none;
    width: 600px;
}
a {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 15%;
    padding: 15px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 40px;
    text-decoration: none;
}
#ProgImg {
    position: absolute;
    left: 25%;
}
#back {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 30%;
    padding: 10px;
    text-align: center;
    position: relative !important; 
    top: 925px;
    left: 95%;
}